<table style="width: 100%;">
    <thead>
    <tr>
        <th colspan="6">{{ 'DRONE' | translate }} {{ drone.id }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="centered_td" colspan="2">{{ 'DELETE_ALERT' | translate }} {{ 'DRONE' | translate }}?</th>
    </tr>
    <tr>
        <td class="right-td">
            <a ng-click="delete_drone()" class="alert hollow button">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'DELETE' | translate }}</a>
        </td>
        <td class="left-td">
            <a ng-click="changeMode('default')" class="default hollow button">
                <i class="fa fa-ban" aria-hidden="true"></i> {{ 'CANCEL' | translate }}</a>
        </td>
    </tr>
    </tbody>
</table>