<table style="width: 100%;">
    <thead>
    <tr>
        <th colspan="6">{{ 'DRONE' | translate }} {{ drone.id }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th style="width: 15%;">{{ 'PLATE' | translate }}</th>
        <td style="width: 30%;">{{ drone.plate }}</td>
        <th style="width: 25%;">{{ 'ISTRANSPORTING' | translate }}</th>
        <td style="width: 10%;">{{ drone.is_transporting }}</td>
        <td style="width: 15%;" rowspan="2" class="centered_td">
            <h1>
                <a ng-click="changeMode('edit')" class="default">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i> </a>
            </h1>
        </td>
        <td style="width: 15%;" rowspan="2" class="centered_td">
            <h1>
                <a ng-click="changeMode('delete')" style="color:red">
                    <i class="fa fa-trash" aria-hidden="true"></i> </a>
            </h1>
        </td>
    </tr>
    <tr>
        <th style="width: 15%;">{{ 'MODEL' | translate }}</th>
        <td style="width: 30%;">{{ drone.model }}</td>
        <th style="width: 25%;">{{ 'BATTERY' | translate }}</th>
        <td style="width: 10%;">{{ drone.battery_life }}</td>
    </tr>
    </tbody>
</table>