<div class="vertical grid-block">
    <div class="grid-block" ng-include="'/static/templates/drones_create.html'" ng-controller="CreateDroneCntrll"></div>
    <div class="grid-block" ng-repeat="drone_id in center.drones" ng-controller="ManageDroneCntrll" ng-switch on="mode">
        <div style="width: 100%;" ng-switch-when="edit"><div  ng-include="'/static/templates/drone_edit.html'"></div></div>
        <div style="width: 100%;" ng-switch-when="delete"><div   ng-include="'/static/templates/drone_delete.html'"></div></div>
        <div style="width: 100%;" ng-switch-default><div ng-include="'/static/templates/drone_view.html'"></div></div>
    </div>
</div>