<form style="border-bottom: #a8c5ff solid 2px;">
    <div class="grid-block wrap" style="margin-top: 5px;">
        <div class="small-12 grid-content">
            <h4>{{ 'DRONE' | translate }} {{ drone.id }}
                <span ng-show="drone.status == 0" style="color: cornflowerblue">( {{ 'WAITING' | translate }} )</span>
                <span ng-show="drone.status == 1" style="color: greenyellow">( {{ 'DELIVERING' | translate }} )</span>
            </h4>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'PLATE' | translate }}</strong></label>
            <p>{{ drone.plate }}</p>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'MODEL' | translate }}</strong></label>
            <p>{{ drone.model }}</p>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 grid-content">
            <a ng-click="changeMode('edit')" class="hollow button">
                <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'EDIT' | translate }}</a>
            <a ng-click="changeMode('delete')" class="alert hollow button">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'DELETE' | translate }}</a>
        </div>
    </div>
</form>