<accordion style="width: 100%">
    <accordion-group>
        <accordion-heading>
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'CREATE NEW' | translate }} {{ 'DRONE' | translate }}
        </accordion-heading>
        <div class="grid-block">
            <div class="small-12 medium-5 grid-content">
                <label>
                    {{ 'PLATE' | translate }}
                    <input type="text" ng-model="newDrone.plate" placeholder="{{ 'PLATE' | translate }}">
                </label>
            </div>
            <div class="small-12 medium-4 grid-content">
                <label>
                    {{ 'MODEL' | translate }}
                    <input type="text" ng-model="newDrone.model" placeholder="{{ 'MODEL' | translate }}">
                </label>
            </div>
            <div class="small-12 medium-3 grid-content" style="text-align: center; position: absolute; bottom: 0;">
                <a ng-click="create_new_drone()" class="small success hollow button">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'SAVE' | translate }}</a>
            </div>
        </div>
    </accordion-group>
</accordion>