<form style="border-bottom: #a8c5ff solid 2px;">
    <div class="grid-block wrap" style="margin-top: 5px;">
        <div class="small-12 grid-content">
            <h4>{{ 'DRONE' | translate }} {{ drone.id }}</h4>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 medium-6 grid-content">
            <label>{{ 'PLATE' | translate }}</label>
            <input type="text" class="no-bottom-margin"  ng-model="drone.plate" value="{{ drone.plate }}" placeholder="{{ 'PLATE' | translate }}">
            <div data-alert class="alert-box alert" ng-show="errors.plate.show">
                <strong>{{ errors.plate.field | translate }} </strong>{{ errors.plate.text }}
                <a ng-click="closeAlert('plate')" class="close">&times;</a>
            </div>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label>{{ 'MODEL' | translate }}</label>
            <input type="text" class="no-bottom-margin"  ng-model="drone.model" value="{{ drone.model }}" placeholder="{{ 'MODEL' | translate }}">
            <div data-alert class="alert-box alert" ng-show="errors.model.show">
                <strong>{{ errors.model.field | translate }} </strong>{{ errors.model.text }}
                <a ng-click="closeAlert('model')" class="close">&times;</a>
            </div>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 grid-content" style="text-align: right; padding-top: 10px;">
            <a ng-click="update_drone()" class="success hollow button">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'SAVE' | translate }}</a>
            <a ng-click="changeMode('default')" class="warning hollow button">
                <i class="fa fa-ban" aria-hidden="true"></i> {{ 'CANCEL' | translate }}</a>
        </div>
    </div>
</form>