<table style="width: 100%;">
    <thead>
        <tr>
            <th colspan="3">{{ droppoint.name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="1">{{ 'LATITUDE' | translate }}</th>
            <th colspan="1">{{ 'LONGITUDE' | translate }}</th>
            <th colspan="1">{{ 'ALTITUDE' | translate }}</th>
        </tr>
        <tr>
            <td colspan="1">{{ droppoint.lat }}</td>
            <td colspan="1">{{ droppoint.lng }}</td>
            <td colspan="1">{{ droppoint.alt }}</td>
        </tr>
        <tr>
            <th colspan="3">{{ 'DESCRIPTION' | translate }}</th>
        </tr>
        <tr>
            <td colspan="3">{{ droppoint.description }}</td>
        </tr>
        <tr>
            <td colspan="3" class="centered_td">
                <div class="grid-block">
                    <div class="grid-block">
                        <div style="text-align: center; width: 100%;">
                            <a ng-click="changeMode('edit')" class="hollow button">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'EDIT' | translate }}
                            </a>
                        </div>
                    </div>
                    <div class="grid-block">
                        <div style="text-align: center; width: 100%;">
                            <a ng-click="changeMode('delete')" class="alert hollow button">
                                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'DELETE' | translate }}
                            </a>
                        </div>
                    </div>
                    <div class="grid-block">
                        <div style="text-align: center; width: 100%;">
                            <a ng-click="open_modal()" class="success hollow button">
                                <i class="fa fa-archive" aria-hidden="true"></i> {{ 'SEND_PACKAGE' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>