<table style="width: 100%;">
    <thead>
    <tr>
        <th colspan="5"><input type="text" ng-model="droppoint.name" value="{{ droppoint.name }}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="2">{{ 'LATITUDE' | translate }}</th>
        <th colspan="2">{{ 'LONGITUDE' | translate }}</th>
        <th colspan="1">{{ 'ALTITUDE' | translate }}</th>
    </tr>
    <tr>
        <td colspan="2"><input type="text" ng-model="droppoint.lat" value="{{ droppoint.lat }}"></td>
        <td colspan="2"><input type="text" ng-model="droppoint.lng" value="{{ droppoint.lng }}"></td>
        <td colspan="1"><input type="text" ng-model="droppoint.alt" value="{{ droppoint.alt }}"></td>
    </tr>
    <tr>
        <th colspan="4">{{ 'DESCRIPTION' | translate }}</th>
        <td rowspan="2" colspan="1" class="centered_td">
            <h1 style="text-align: center">
                <a ng-click="update_droppoint()" class="default" style="margin-right: 20px;">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> </a>
                <a ng-click="changeMode('default')" style="color:orange">
                    <i class="fa fa-ban" aria-hidden="true"></i> </a>
            </h1>
        </td>
    </tr>
    <tr>
        <td colspan="4"><textarea ng-model="droppoint.description" placeholder="{{ droppoint.description }}"></textarea></td>
    </tr>
    </tbody>
</table>