<form style="border-bottom: #a8c5ff solid 2px;">
    <div class="grid-block wrap" style="margin-top: 5px;">
        <div class="small-12 grid-content">
            <h4>{{ droppoint.name }}</h4>
        </div>
    </div>
    <div class="small-12 grid-content">
        <label><strong>{{ 'DESCRIPTION' | translate }}</strong></label>
        <p>{{ droppoint.description }}</p>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 grid-content">
            <h5>{{ 'COORDINATES' | translate }}</h5>
        </div>
        <div class="small-12 medium-4 grid-content">
            <label><strong>{{ 'LATITUDE' | translate }}</strong></label>
            <p>{{ droppoint.lat }}</p>
        </div>
        <div class="small-12 medium-4 grid-content">
            <label><strong>{{ 'LONGITUDE' | translate }}</strong></label>
            <p>{{ droppoint.lng }}</p>
        </div>
        <div class="small-12 medium-4 grid-content">
            <label><strong>{{ 'ALTITUDE' | translate }}</strong></label>
            <p>{{ droppoint.alt }}</p>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 grid-content">
            <a ng-click="open_modal()" class="success hollow button">
                <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'SEND_PACKAGE' | translate }}</a>
            <a ng-click="changeMode('edit')" class="hollow button">
                <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'EDIT' | translate }}</a>
            <a ng-click="changeMode('delete')" class="alert hollow button">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'DELETE' | translate }}</a>
        </div>
    </div>
</form>