<div class="dark title-bar">
    <div class="center">
        <img src="https://developers.google.com/open-source/gsoc/images/gsoc2016-sun-alpha-97x97.png" alt="Google Summer of Code" style="max-height: 25px">
         Google summer of code</div>
    <div class="left" style="height: 100%">
        <div style="display: table; height: 100%;">
            <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle;">
                Liquid Galaxy Lab
            </a>
        </div>
    </div>
    <div class="right" style="height: 100%;">
        <div style="display: table; height: 100%; float: right">
            <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px; font-size: 2rem">
                <i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px; font-size: 2rem">
                <i class="fa fa-rss-square" aria-hidden="true"></i></a>
            <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px; font-size: 2rem">
                <i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>