<div class="dark title-bar" style="background-color: #545B77; height: 4rem !important">
    <div class="center" style="flex: 0 0 20%;">
        <img src="https://developers.google.com/open-source/gsoc/images/gsoc2016-sun-alpha-97x97.png" alt="Google Summer of Code" style="max-height: 25px">
        Google summer of code</div>
    <div class="left" style="height: 100%;flex: 0 0 40%;">
        <div style="display: block; height: 100%; padding: 0 5px 0 0;">
            <a href="/#/dlpView" class="name" style="display: inline-block;padding: 0; width: 180px;">
                <img src="static/images/logos/logo-liquidgalaxylab-trans.png" class="logo-image">
            </a>
            <a href="/#/dlpView" class="name" style="display: inline-block;padding: 0; width: 180px;">
                <img src="static/images/logos/parc-logo-trans.png" class="logo-image">
            </a>
            <a href="/#/dlpView" class="name" style="display: inline-block;padding: 0; width: 180px;">
                <img src="static/images/logos/lleidadrone-logo-trans.png" class="logo-image">
            </a>
        </div>
    </div>
    <div class="right" style="height: 100%; flex: 0 0 40%;">
        <div style="display: block; height: 100%; padding: 0 10px 0 0;">
            <a href="/#/dlpView" class="name" style="display: inline-block;padding: 0; width: 180px;">
                <img src="static/images/logos/CataloniaSmartDrones-logo.png" class="logo-image">
            </a>
            <a href="/#/dlpView" class="name" style="display: inline-block;padding: 0; width: 180px;">
                <img src="static/images/logos/hemav-academics.png" class="logo-image">
            </a>
            <div style="display: table; height: 100%; float: right">
                <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px; font-size: 2rem">
                    <i class="fa fa-github-square" aria-hidden="true"></i></a>
                <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px; font-size: 2rem">
                    <i class="fa fa-rss-square" aria-hidden="true"></i></a>
                <a href="/#/dlpView" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px; font-size: 2rem">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>