<div zf-esc-close zf-close-all>
    <div class="vertical grid-frame">
        <div id="header" class="shrink collapse grid-content">
            <div ng-include="'/static/templates/top_bar.html'" ng-controller="WelcomeCntrll"></div>
        </div>
        <div class="shrink collapse grid-block">
            <div id="loading-bar-container"></div>
        </div>
        <div class="grid-block" style="overflow: hidden !important;">
            <zf-panel position="left" zf-ignore-all-close="" id="LCrepresentation" class="panel-left">
                <a zf-close="LCrepresentation" class="close-button">×</a>
                <div ng-include="'/static/templates/logistic_center_accordion.html'"></div>
            </zf-panel>
            <div id="map_canvas" class="flex-video">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" events="map.events">
{#                    <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" options="m.options" idkey="m.id" events="m.events"></ui-gmap-marker>#}
                    <ui-gmap-marker models="map.markers" coords="'coords'"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <zf-panel position="right" zf-ignore-all-close="" id="galaxy_panel" class="panel-right">
                    <div class="vertical grid-block" ng-include="'/static/templates/galaxy_options.html'" ng-controller="GalaxyOptCntrll"></div>
            </zf-panel>
        </div>
        <div class="grid-content shrink" style="padding: 0">
            <div ng-include="'/static/templates/footer.html'"></div>
        </div>
    </div>
</div>