<div zf-esc-close zf-close-all>
    <div class="vertical grid-frame">
        <div id="header" class="shrink collapse grid-content">
            <div ng-include="'/static/templates/top_bar.html'" ng-controller="WelcomeCntrll"></div>
        </div>
        <div class="grid-block" style="overflow: hidden !important;">
            <div zf-panel="" position="left" zf-ignore-all-close="" id="example-panel-left" class="panel-left">
                <a zf-close="" class="close-button">×</a>
                <div ng-include="'/static/templates/logistic_center_acordeon.html'"></div>
            </div>
            <div id="map_canvas" class="flex-video">
                <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
            </div>
            <div class="grid-block shrink" ng-if="left_menu">
                Some little here?
                {{ left_menu.state }}
            </div>
            <div zf-panel="" position="right" zf-ignore-all-close="" id="map_panel" class="panel-right">
                <a zf-close="" class="close-button">×</a>
                Map options...
                 -> Logisttic Centers
                 -> Drones
                 -> Transport ?
            </div>
            <div zf-panel="" position="right" zf-ignore-all-close="" id="galaxy_panel" class="panel-right">
                <a zf-close="" class="close-button">×</a>
                Galaxy
                 -> Status
                 -> Refresh KML
            </div>
        </div>
        <div class="grid-content shrink">
              Footer Sticks to the Bottom
        </div>
    </div>
</div>