<div zf-esc-close zf-close-all>
    <div class="vertical grid-frame">
        <div id="header" class="shrink collapse grid-content">
            <div ng-include="'/static/templates/top_bar.html'" ng-controller="WelcomeCntrll"></div>
        </div>
        <div class="grid-block" style="overflow: hidden !important;">
            <zf-panel position="left" zf-ignore-all-close="" id="LCrepresentation" class="panel-left">
                <a zf-close="LCrepresentation" class="close-button">×</a>
                <div ng-include="'/static/templates/logistic_center_acordeon.html'"></div>
            </zf-panel>
            <div id="map_canvas" class="flex-video">
                <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
            </div>
            <div class="grid-block shrink" ng-if="left_menu">
                Some little here?
                {{ left_menu.state }}
            </div>
            <div zf-panel="" position="right" zf-ignore-all-close="" id="map_panel" class="panel-right">
                <a zf-close="" class="close-button">×</a>
                Map options...
                -> Logisttic Centers
                -> Drones
                -> Transport ?
            </div>
            <div zf-panel="" position="right" zf-ignore-all-close="" id="galaxy_panel" class="panel-right">
                <a zf-close="" class="close-button">×</a>
                Galaxy
                -> Status
                -> Refresh KML
                <a ng-click="change_center(0)">change center</a>
                <button ng-click="openCenterInfo(3)"></button>
            </div>
            <!--
            Idea to make visualization different of accordion, this div will show the information of the selected center choosed
            on the panel, panel will be reduced to 10% and it will be more easy to choose center when one is expanded.
            <div class="block_info" ng-show="selected_center">
                <div style="background-color: #00c900">
                    thats crazy
                    {{ selected_center.id }}
                </div>
            </div>
            -->
        </div>
        <div class="grid-content shrink" style="padding: 0">
            <div ng-include="'/static/templates/footer.html'"></div>
        </div>
    </div>
</div>