<div ng-controller="AccordionCntrll">
<accordion close-others="true">
    <accordion-group ng-repeat="center in logistic_centers | orderBy: 'id'" id="lc{{ center.id }}" is-open="lc[{{ center.id }}]">
        <accordion-heading>
            {{center.name}}
        </accordion-heading>
        <div>
            <tabset>
                <!--
                <tab heading="{{ 'LOGISTICCENTER' | translate }}">
                    <div class="tab-content" ng-switch on="get_mode(center.id)" ng-init="create_mode(center.id)">
                          <div class="animate-switch" ng-switch-when="edit">
                              <div ng-include="'/static/templates/logistic_center_edit.html'"></div>
                          </div>
                          <div class="animate-switch" ng-switch-when="delete">
                              <div ng-include="'/static/templates/logistic_center_delete.html'"></div>
                          </div>
                          <div class="animate-switch" ng-switch-default>
                              <div ng-include="'/static/templates/logistic_center_view.html'"></div>
                          </div>
                    </div>
                </tab>
                <tab heading="{{ 'DRONES' | translate }}" active="tab.active">
                    <div class="tab-content" ng-include="'/static/templates/drones_view.html'"></div>
                </tab>
                <tab heading="{{ 'DROPPOINTS' | translate }}" active="tab.active">
                    <div class="tab-content" ng-include="'/static/templates/droppoints_view.html'"></div>
                </tab>
                <tab heading="{{ 'TRANSPORTS' | translate }}" active="tab.active">
                    <div class="tab-content" ng-include="'/static/templates/transports_view.html'"></div>
                </tab>
                -->
                <tab ng-repeat="tab in tabs"  heading="{{ tab.title | translate }}" active="tab.active">
                    <div ng-include="tab.content"></div>
                </tab>
            </tabset>
        </div>
    </accordion-group>
    <accordion-group>
        <accordion-heading ng-click="select_coords.active = true;">
            {{ 'CREATE_NEW' | translate }} {{ 'LOGISTICCENTER' | translate}}
        </accordion-heading>
            <div ng-include="'/static/templates/logistic_center_create.html'"></div>
    </accordion-group>
</accordion>
</div>