<div class="tab-content" ng-controller="LogisticCenterTabCntrll" ng-switch on="get_mode(center.id)" ng-init="create_mode(center.id)">
    <div class="animate-switch" ng-switch-when="edit">
        <div ng-include="'/static/templates/logistic_center_edit.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="delete">
        <div ng-include="'/static/templates/logistic_center_delete.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-default>
        <div ng-include="'/static/templates/logistic_center_view.html'"></div>
    </div>
</div>