<div class="vertical grid-block" ng-controller="UpdateLCCntrll">
    <div class="grid-block medium-up-2">
        <div class="vertical grid-block">
            <div class="grid-block">
                <div class="form-group">
                    <label>{{ 'NAME' | translate }}
                        <input type="text" ng-model="center.name" value="{{ center.name }}">
                    </label>
                </div>
            </div>
            <div class="grid-block">
                <div class="form-group">
                    <label>{{ 'ADDRESS' | translate }}
                        <input type="text" ng-model="center.address" value="{{ center.address }}">
                    </label>
                </div>
            </div>
        </div>
        <div class="grid-block">
            <div class="form-group">
                <label>{{ 'DESCRIPTION' | translate }}</label>
                <textarea ng-model="center.description" rows="3">{{ center.description }}</textarea>
            </div>
        </div>
    </div>
    <div class="grid-block medium-up-4">
        <div class="grid-block">
            <div class="form-group">
                <label>{{ 'LATITUDE' | translate }}</label>
                <input type="number" ng-model="center.lat" value="{{ center.lat }}">
            </div>
        </div>
        <div class="grid-block">
            <div class="form-group">
                <label>{{ 'LONGITUDE' | translate }}</label>
                <input type="number" ng-model="center.lng" value="{{ center.lng }}">
            </div>
        </div>
        <div class="grid-block">
            <div class="form-group">
                <label>{{ 'ALTITUDE' | translate }}</label>
                <input type="number" ng-model="center.alt" value="{{ center.alt }}">
            </div>
        </div>
        <div class="grid-block">
            <div class="form-group">
                <label>{{ 'RADIUS' | translate }}</label>
                <input type="number" ng-model="center.radius" value="{{ center.radius }}">
            </div>
        </div>
    </div>
    <div class="grid-block medium-up-2">
        <div class="grid-block">
            <div class="form-group">
                <label>{{ 'CITY' | translate }}</label>
                <select ng-model="center.city">
                    <option value="{{ main_city.id }}">{{ main_city.name }}</option>
                </select>
            </div>
        </div>
        <div class="grid-block">
            <div class="form-group">
                <label>#Style URL#</label>
                <input type="text" value="Algo">
            </div>
        </div>
    </div>
    <div class="align-right grid-block">
        <div style="text-align: right">
            <a ng-click="update_center()" class="large success hollow button">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'SAVE' | translate }}</a>
            <a ng-click="restore_center()" class="large warning hollow button">
                <i class="fa fa-ban" aria-hidden="true"></i> {{ 'CANCEL' | translate }}</a>
        </div>
    </div>
</div>