<form>
    <div class="grid-block wrap">
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'NAME' | translate }}</strong></label>
            <p>{{ center.name }}</p>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'ADDRESS' | translate }}</strong></label>
            <p>{{ center.address }}</p>
        </div>
    </div>
    <div class="small-12 grid-content">
        <label><strong>{{ 'DESCRIPTION' | translate }}</strong></label>
        <p>{{ center.description }}</p>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 grid-content">
            <h5>{{ 'COORDINATES' | translate }}</h5>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'LATITUDE' | translate }}</strong></label>
            <p>{{ center.lat }}</p>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'LONGITUDE' | translate }}</strong></label>
            <p>{{ center.lng }}</p>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'ALTITUDE' | translate }}</strong></label>
            <p>{{ center.alt }}</p>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'STYLE' | translate }}</strong></label>
            <p>{{ center.defined_style }}</p>
        </div>
    </div>
    <div class="grid-block wrap">
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'DRONES' | translate }}</strong></label>
            <p>{{ center.drones.length }}</p>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label><strong>{{ 'DROPPOINTS' | translate }}</strong></label>
            <p>{{ center.droppoints.length }}</p>
        </div>
    </div>
    <div class="small-12 grid-content">
        <a ng-click="modify_mode_lc(center.id, 'edit')" class="large hollow button">
            <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'EDIT' | translate }}</a>
        <a ng-click="modify_mode_lc(center.id, 'delete')" class="large alert hollow button">
            <i class="fa fa-trash" aria-hidden="true"></i> {{ 'DELETE' | translate }}</a>
    </div>
</form>