<div class="vertical grid-block">
    <div class="grid-block medium-up-2">
        <div class="vertical grid-block">
            <div class="grid-block">
                <dl>
                    <dt>{{ 'DESCRIPTION' | translate }}</dt>
                    <dd>{{ center.description }}</dd>
                </dl>
            </div>
            <div class="grid-block">
                <dl>
                    <dt>{{ 'ADDRESS' | translate }}</dt>
                    <dd>{{ center.address }}</dd>
                </dl>
            </div>
        </div>
        <div class="grid-block">
            ##picture
        </div>
    </div>
    <div class="grid-block medium-up-4">
        <div class="grid-block">
            <dl>
                <dt>{{ 'LATITUDE' | translate }}</dt>
                <dd>{{ center.lat }}</dd>
            </dl>
        </div>
        <div class="grid-block">
            <dl>
                <dt>{{ 'LONGITUDE' | translate }}</dt>
                <dd>{{ center.lng }}</dd>
            </dl>
        </div>
        <div class="grid-block">
            <dl>
                <dt>{{ 'ALTITUDE' | translate }}</dt>
                <dd>{{ center.alt }}</dd>
            </dl>
        </div>
        <div class="grid-block">
            <dl>
                <dt>{{ 'RADIUS' | translate }}</dt>
                <dd>{{ center.lat }}</dd>
            </dl>
        </div>
    </div>
    <div class="grid-block medium-up-2">
        <div class="grid-block">
            <dl>
                <dt>{{ 'DROPPOINTS' | translate }}</dt>
                <dd>{{ center.droppoints.length }}</dd>
            </dl>
        </div>
        <div class="grid-block">
            <dl>
                <dt>{{ 'DRONES' | translate }}</dt>
                <dd>{{ center.drones.length }}</dd>
            </dl>
        </div>
    </div>
    <div class="align-right grid-block">
        <div style="text-align: right">
            <a ng-click="modify_mode_lc('edit')" class="large hollow button">
                <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'EDIT' | translate }}</a>
            <a ng-click="modify_mode_lc('edit')" class="large alert hollow button">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'DELETE' | translate }}</a>
        </div>
    </div>
</div>