<div class="dark title-bar">
    <div class="center title">
        <a ui-sref="welcome">Drone Logistics Platform</a>
        <!--<img style="max-height: 100%" src="static/images/logos/dlp-trans.png" />-->
    </div>
    <div class="left" style="height: 100%">
        <div style="display: table; height: 100%;">
            <a zf-toggle="LCrepresentation" class="name" style="display: table-cell;vertical-align: middle;">
                Logistics Centers
            </a>
            <div style="display: table-cell; vertical-align: middle;  padding-left: 10px;">
                <div class="inline-label" style="margin-bottom: 0 !important;">
                    <input type="search" value="{{ main_city.name }}" style="height: 14px">
                    <a href="#" class="button">Search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right" style="height: 100%;">
        <div style="display: table; height: 100%; float: right">
            <a zf-toggle="galaxy_panel" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px;">
                Liquid Galaxy</a>
            <a zf-toggle="map_panel" class="name" style="display: table-cell;vertical-align: middle; padding: 0 5px;">
                Map options</a>
        </div>
    </div>
</div>