<nav class="top-bar" data-topbar role="navigation" style="text-align: center">
    <ul class="title-area">
        <li class="name">Drone Logistic Platform</li>
    </ul>
    <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"><a zf-toggle="galaxy_panel">Liquid Galaxy</a></li>
            <li class="name"><a zf-toggle="map_panel">Map options</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="name">
                <a zf-toggle="example-panel-left">Logistics Centers</a>
            </li>
            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" value="{{ main_city.name }}">
                    </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="alert button expand">Search</a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</nav>