<style>
      .progress .meter {
        -webkit-transition: width 1s ease-out;
        transition: width 1s ease-out;
      }
</style>
<div class="vertical grid-block" ng-controller="ManageTransportsCntrll">
    <div class="vertical grid-block" id="lc{{ center.id }}tp{{ transport.id }}" ng-repeat="transport in transports">
        <div class="grid-block">
            <div class="grid-block">
               {{ 'TRANSPORT' | translate }} {{ transport.id }}
            </div>
            <div class="grid-block">
                {{ 'PACKAGE' | translate }} {{ transport.package }}
            </div>
            <div class="grid-block">
                {{ 'DROPPOINT' | translate }} {{ transport.package }}
            </div>
        </div>
        <div class="vertical grid-block">
           <progressbar value="transport.step" max="transport.max_steps">
               <span style="color:black; white-space:nowrap;">{{transport.step}} / {{transport.max_steps}}</span>
           </progressbar>
        </div>
    </div>
</div>