<div ng-controller="WelcomeCntrll">
    <ul data-orbit class="orbit-ul"
        data-options="animation:slide;
                  pause_on_hover:false;
                  animation_speed:500;
                  navigation_arrows:false;
                  bullets:false;
                  slide_number: true;
                  next_on_click: true">
        <li class="orbit-item orbit-item-2">
        </li>
        <li class="orbit-item orbit-item-3">
        </li>
        <li class="orbit-item orbit-item-1">
        </li>
    </ul>
    <div class="custom-footer">
        <div style="display: table; width: 100%; text-align: center">
            <div style="display:table-row;">
                <div class="centered_table_cell" ng-repeat="logo in logos">
                    <img ng-src="{{ logo.name }}" class="image-logo" ng-init="logo.name=logo.init" ng-mouseover="logo.name=logo.hover" ng-mouseout="logo.name=logo.init" />
                </div>
            </div>
        </div>
    </div>
    <div class="centered_class">
        <div id="main-card" class="dark card">
            <img class="dlp-box-img" src="static/images/logos/dlp.png">
            <div class="card-divider">
                {{ 'WELCOME' | translate }} <b>Drone Logistics Platform</b>
            </div>
            <div class="card-section">
                <h4>{{ 'SELECT_CITY' | translate }}</h4>
                <form>
                    <span class="inline-label">
                        <input id="autocomplete_google" type="text" ng-model="city.name" placeholder="Search a city" autocomplete="off" >
                        <a ng-click="accessDLP()" class="button">Access</a>
                    </span>
                </form>
                <alert ng-show="alert.show" type="alert.type" close="closeAlert()">{{ alert.msg | translate }}</alert>
            </div>
        </div>
    </div>
</div>