<div ng-controller="WelcomeCntrll" class="grid-frame vertical">
    <div class="align-center grid-block welcome-background">
        <div class="v-align">
            <div id="main-card" class="dark card" style="max-width: 600px; background-color: white;">
                <img class="hide-for-small-only" src="static/images/logos/dlp.png">
                <div class="card-divider">
                    {{ 'WELCOME' | translate }} <b>Drone Logistics Platform</b>
                </div>
                <tabset>
                    <tab heading="{{ 'SELECT_CITY' | translate }}">
                        <form>
                            <label>{{ 'SELECT_CITY' | translate }}
                                <span class="inline-label">
                                        <select style="color: black;" ng-model="city.place_id">
                                            <option style="color: black;" ng-repeat="opt in cities_list" ng-value="opt.place_id">{{ opt.name }}</option>
                                        </select>
                                        <a ng-click="accessDLP()" class="button">{{ 'ACCESS' | translate }}</a>
                                    </span>
                                <alert ng-show="alert.show" type="alert.type" close="closeAlert()">{{ alert.msg | translate }}</alert>
                            </label>
                        </form>
                    </tab>
                    <tab heading="{{ 'ADD_CITY' | translate }}">
                        <form ng-controller="test1">
                            <label>{{ 'ADD_CITY' | translate }}
                                <span class="inline-label">
                                    <input id="autocomplete_google" type="text" ng-model="city.name" placeholder="Search a city" autocomplete="off" >
                                    <a ng-click="saveCity()" class="button success">{{ 'ADD' | translate }}</a>
                                </span>
                                <alert ng-show="alert.show" type="alert.type" close="closeAlert()">{{ alert.msg | translate }}</alert>
                            </label>
                        </form>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="align-center grid-content shrink" style="overflow-x: auto">
        <div class="v-align">
            <div class="small-12 medium-2 large-2" ng-repeat="logo in logos">
                <a href="{{ logo.href }}">
                    <img ng-src="{{ logo.init }}" class="logo-image"/>
                </a>
            </div>
        </div>
    </div>
</div>