<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://static.hubspot.com/favicon.ico">
{#    <script async defer#}
{#      src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap">#}
{#    </script>#}
    {% load staticfiles %}
    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script src="{% static 'javascript/app.js' %}"></script>
    <script src="{% static 'javascript/appTranslation.js' %}"></script>
    <script src="{% static 'javascript/Controllers/IndexCntrll.js' %}"></script>
    <script src="{% static 'javascript/Controllers/WelcomeCntrll.js' %}"></script>
    <script src="{% static 'javascript/Controllers/AccordionCntrll.js' %}"></script>
    <script src="{% static 'javascript/Controllers/CreateLCCntrll.js' %}"></script>
    <script src="{% static 'javascript/Controllers/UpdateLCCntrll.js' %}"></script>
    <script src="{% static 'javascript/Controllers/CreateDroneCntrll.js' %}"></script>
    <script src="{% static 'javascript/Controllers/ManageDroneCntrll.js' %}"></script>
    <script src="{% static 'javascript/Services/ServiceAPI.js' %}"></script>
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
{#    <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>#}
{#    <script src="{% static 'foundation/js/foundation/foundation.js' %}"></script>#}
    <script src="{% static 'angular-foundation/mm-foundation-tpls.js' %}"></script>
    <script src="{% static 'angular-translate/angular-translate.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
{#    <script src="{% static 'foundation-apps/js/angular/app.js' %}"></script>#}
{#    <script src="{% static 'foundation-apps/js/angular/foundation.js' %}"></script>#}
{#    <script src="{% static 'foundation-apps/js/angular/services/foundation.core.js' %}"></script>#}
    <script src="{% static 'angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'foundation-apps/dist/js/foundation-apps.js' %}"></script>
    <script src="{% static 'foundation-apps/dist/js/foundation-apps-templates.js' %}"></script>
    <script src="{% static 'lodash/lodash.js' %}"></script>
    <script src="{% static 'angular-simple-logger/dist/angular-simple-logger.js' %}"></script>
    <script src="{% static 'angular-google-maps/dist/angular-google-maps.js' %}"></script>
    <script src="https://use.fontawesome.com/90beeb5512.js"></script>
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'foundation-apps/dist/css/foundation-apps.css' %}">
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_main.css' %}">
    <title>DLP</title>
</head>
<body ng-app="DLPApp">
    <div ui-view></div>
</body>
</html>